{% if msg and success %}
    <div class="alert alert-success fade in alert-dismissable flash">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        {{msg}}
    </div>
{% endif %}