{% extends 'base.jinja' %}
{% block content %}
    <form action="/register" method="POST">
        <div class="form-group">
            <label>Username: </label>
            <input name="username" maxlength="50"/>
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input type="password" name="password" maxlength="50">
        </div>
        <input name="submit" type="submit" value="Register" class="btn btn-default"/>
    </form>
    <p>Yes, it only takes that to register, we are very discrete 
    and you better do not forget your username/password :)</p>
    {%include 'alert_danger.jinja'%}
{% endblock %}